<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>svlet</servlet-name>
        <servlet-class>controller.svlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calc</servlet-name>
        <servlet-class>controller.calc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>svlet</servlet-name>
        <url-pattern>/svlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calc</servlet-name>
        <url-pattern>/calc</url-pattern>
    </servlet-mapping>
</web-app>
